{% extends 'index.html' %}

{% block title %} - Home page {% endblock %}

{% block extralinks %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entry.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creation.css') }}">
{% endblock %}

{% block content %}
    <h1>Welcome to recepie book !</h1>
    {% if context.type %}
        <div class="new-entry">
            <p>
                Create new a {{ context.type }}
                <button class=" btn btn-primary" onclick="openCreation('{{ context.type }}')">new</button>
            </p>
        </div>
    {% endif %}
    <div class="entry-list">
        {% for entry in context["entries"] %}
            <div class="entry" onclick="location.replace('{{ entry.link }}');">
                <div class="entry-img-wrapper">
                    <img src="{{ entry.image }}" class="entry-img">
                </div>
                <h3> {{ entry['name'] | title }}</h3>
                <p class="entry-date">{{ entry['date']}}</p>
                <p class="entry-summary">{{ entry['summary']  | truncate(40)}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extrabody %}
    <div id="app_shadow" class="shadow__creation" hidden onclick="closeCreation()">
    </div>
    <div class="container__creation" id="app" hidden>
        <h1 id="title">{{ context.type | title }}</h1>
        <form action="/{{ context.type }}/create" method="post">
            <div class="row g-3">
                <input type="text" name="name" id="name" placeholder="Name" autocomplete="off" v-model="name" required>
            </div>
            <div class="row g-3">
                <input type="text" name="summary" id="summary" placeholder="Summary" autocomplete="off" v-model="summary" required>
            </div>
            <div class="row g-3">
                <input type="text" name="image" id="image-input" placeholder="Image Link" v-model="image" autocomplete="off">
            </div>
            {% if context.type == "recepie" %}
                <ul>
                    <li v-for="(ingredient, name) in ingredients" > [[ name ]] x[[ ingredient.quantity ]] </li>
                </ul>
                <div class="row g-3 mb-2 mr-0 ml-0">
                    <div class="col-auto">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                [[ selectedIngredient.name || "Ingredients" ]]
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a 
                                    v-for="ingredient in ingredientOptions"
                                    :key="ingredient.id"
                                    class="dropdown-item"
                                    href="#"
                                    v-on:click="selectIngredient(ingredient)">[[ ingredient.name ]]</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mr-0">
                        <input class="" type="number" v-model="quantity" name="quantity" id="quantity" placeholder="Quantity" autocomplete="off" required style="display: inline-block;">
                    </div>
                    <div class="col-auto mr-0">
                        <button class="btn btn-secondary" id="add-step"  v-on:click="addIngredient()">Add</button>
                    </div>
                </div>
                <ol>
                    <li v-for="step in steps" > [[ step ]] </li>
                </ol>
                <div class="row g-3 mr-0 ml-0">
                    <div class="col-auto">
                        <input type="textarea" name="step" v-model="currentStep" id="step" placeholder="Step" autocomplete="off" required style="display: inline-block;">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" id="add-step" v-on:click="addStep">Add</button>
                    </div>
                </div>
            {% endif %}
            <button class="btn btn-primary" v-on:click="submit">create</button>
        </form>
    </div>
{% endblock%}

{% block script %}
    <script src="{{ url_for('static', filename='js/creation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create_ingredient.js') }}"></script>
{% endblock %}